@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

body {
  background-color: #686de0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}
