@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
